<!DOCTYPE html>
<html>
  <head>
    <link href="./bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./styles.css"rel="stylesheet" type="text/css">
  	<title>Keturah Walters' Portfolio
  	</title>
  </head>
 <body>
 	<%= yield %>
 </body>
</html>