<h1>Keturah Walters' Porfolio</h1>
<br/>

<h2>About Me</h2>

<p>I'm currently learning web development at the Flatiron School. Here are my projects</p>

<h2>Projects</h2>

<a href="https://github.com/ketwalters/Economics_XML">XML Parser</a>
<p>Created a parser that collects information from an XML file</p>
</br>

<a href="http://areyoujayzorkanye.herokuapp.com/">Are you Jay Z or Kanye Quiz</a>
<p>Made a quiz using Sinatra. Github link <a href="https://github.com/ketwalters/Quiz">here</a>.</p>
</br>

<a href="http://happyfeetcompliments.herokuapp.com/">Happy Feet Emergency Compliments<a/>
<p>Created a Happy Feet themed Compliments app. Refresh the page to get a new compliment</p>
</br>

<a href="https://github.com/ketwalters/citibike-sinatra">CitiBike Sinatra App</a>
<p>Tracks start and end of a bike route</p>	
</br>

<h2>Links to my Blog, and Github</h2>

<a href="https://github.com/ketwalters">Github</a><br/>
<a href="http://keturahwalters.blogspot.com/">Blog</a><br/>
<br/>